form{
    width: 100%;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input{
    height: 2.5rem;
    width: 60%;
    padding-left: 1rem;
    font-family: inherit;
    font-size: 1.1rem;
    letter-spacing: 0.09rem;
    border-radius: 0.5rem;
    border: none;
}

button{
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #164BD5;
    cursor: pointer;
}